.cabecalho, .sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-rust);
}

.cabecalho__navegacao  {
    width: 100%;
    text-align: center;
}

.cabecalho__link {
    display: inline-block;
    padding: 1rem;
}

.container__principlal {
    text-align: center;
}

.conteudo__imagem {
    width: 100vw;
    max-width: 600px;
}

.sobre {
    border-bottom:none;
    padding: 1rem;
}

.sobre__imagem {
    width: 100%;
}

.sobre__texto {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 2rem 0;
}

.sobre__titulo {
    padding-bottom: 2rem;
}

.sobre p {
    padding-bottom: 1rem;
    text-align: center;
}

.sobre__botao {
    width: 100%;
    color: var(--color-lightgrey);
    background: var(--color-yellow700);
    padding: 1rem;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}