.cabecalho, .sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-rust);
}

.cabecalho__navegacao  {
    width: 100%;
    text-align: center;
}

.cabecalho__link {
    display: inline-block;
    padding: 1rem;
}

.container__principlal {
    text-align: center;
}

.conteudo__imagem {
    width: 100vw;
    max-width: 600px;
}

.sobre {
    border-bottom:none;
    padding: 1rem;
}

.sobre__imagem {
    width: 100%;
}