:root {
    --color-white: hsla(0, 0%, 100%, 1);
    --color-black: hsla(0, 0%, 0%, 1);
    --color-lightgrey: hsla(0, 0%, 97%, 1);
    --color-dark: hsla(0, 0%, 9%, 1);
    --color-white-flash: hsla(0, 0%, 100%, .5);
    --color-beige: rgba(250, 229, 226, 0.507);
    --color-green300: hsla(159, 42%, 88%, 1);
    --color-green400: hsla(160, 52%, 71%, 1);
    --color-green500: hsla(172, 95%, 18%, 1);
    --color-yellow500: hsla(36, 97%, 70%, 1);
    --color-yellow600: hsla(36, 74%, 25%, 1);
    --color-yellow700: hsla(36, 91%, 13%, 1);
}

* {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-beige);
    list-style: none;
    text-decoration: none;
    margin: 0;
}

h1 {
    color: var(--color-yellow700);
    font-size: 3rem;
    font-weight: bold;
}

ul {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0%;
    margin: 0;
}

a {
    color: var(--color-yellow600)
}

h2 {
    color: var(--color-yellow700);
    font-size: 2rem;
    font-weight: bold;
}