* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal normal normal 14px/19px Roboto;
}

.caixa-principal {
    height: 70vh;
    width: 100%;
    background-color:rgb(100, 67, 17);
    background-image: url(./img/img\ \(2\).png);
    background-position: right;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}
 
.portifolio {
    color:rgb(5, 5, 5);
    font-size: 30px;
    font-weight: 1000;
    cursor: pointer;
}

.portifolio:hover{
    font-size: 50px;
}

.portifolio span {
    color:rgb(235, 230, 223);
    font-size: 30px;
    font-weight: 1000;
    cursor: pointer;
}

li {
    color:rgb(0, 0, 0);
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}

li:hover {
    color:rgb(235, 230, 223);
    transition: 0.5s;
}

.meu-nome {
    position: absolute;
    top: 30%;
    padding-left: 40px;
}

h1 {
    color:rgb(235, 230, 223);
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
}

.funcao {
    position:-webkit-sticky;
    color:rgb(0, 0, 0);
    font-weight: 400;
    font-size: 20px;
    left: 7%;
    padding-top: 10%;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 0%;
    background-color:rgb(216, 194, 162);
    height: 70vh;

    
}

section img {
    height: 400px;
    padding: 40px;
    padding-right: 50px;
    border-radius: 20%;
    cursor: pointer;
}


section div h2 {
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight:700;
    padding-bottom: 30px;

}

section div p {
    color:rgb(5, 5, 5);
    margin-right: 20%;
    padding-bottom: 15px;

    
}

section div button {
    color:rgb(216, 194, 162);
    background:rgb(100, 67, 17);
    height: 50px;
    width: 120px;
    font-size: 17px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    
}

section div button:hover {
    background-color: rgb(182, 153, 110);
    transition: 0.5s;
    margin: center;
}

.projetos {
    background-color:rgb(100, 67, 17);
}

.projetos h2 {
    color:rgb(235, 230, 223);
    font-size: 25px;
    font-weight: 600;
}

.projetos {
    height: 80vh;
}

.card {
    background-color: rgb(219, 199, 168);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    margin-left: 200px;
    margin-top: 80px;
}

.card img {
    height: 100px;
}

.card h5 {
    color:rgb(5, 5, 5);
    font-size: 16px;
    font-weight: 400px;
    padding: 10px;
}