* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

.caixa-principal {
    color:chocolate;
    height: 100vh;
    width: 100%;
    background-image: url(./img/eu5.png);
    background-position: right;
    
    background-color:beige
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}
 
.portifolio {
    color:darkgoldenrod;
    font-size: 40px;
    font-weight: 1000;
}

.portifolio span {
    color:cadetblue;
}



li {
    color:darkgoldenrod;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin: 30px;
    cursor: pointer;
}

li:hover {
    color:cadetblue;
    transition: 0.5s;
}

.meu-nome {
    position: absolute;
    top: 40%;
    left: 20%;
    color:cadetblue;
}

.funcao {
    position:-webkit-sticky;
    top: 150%;
    color:chocolate;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 0;
    background-color: rgb(228, 218, 205);
}

section img {
    height: 400px;
    padding: 40px;
    border-radius: 10%;
    
}

section div h2 {
    color:rgb(206, 102, 17);
    font-size: 40px;
    padding: 40px;

}

section div p {
    color: rgb(145, 100, 3);
    padding: 10px;
}

section div button {
    color:antiquewhite;
    background: rgb(206, 102, 17);
    height: 50px;
}