.cabecalho, .sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-rust);
}



.cabecalho__navegacao  {
    width: 100%;
    text-align: center;
}

.cabecalho__link {
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
}

.cabecalho__link:hover {
    transition-duration: 0.4s;
    color: var(--cor-ceramica200);
}

.container__principlal {
    text-align: center;
}

.conteudo__imagem {
    width: 100%;
    max-width: 600px;
}

.sobre {
    background-color: var(--cor-bege2);
    border-bottom:none;
    padding: 1rem;
}

.sobre__imagem {
    width: 100%;
    border-radius: 10px;
}

.sobre__texto {
    text-align: center;
}

.sobre__titulo {
    padding: 2rem;
    text-align: center;
}

.sobre p {
    padding-bottom: 1rem;
    text-align: center;
}

.sobre__botao {
    color: var(--cor-bege);
    background: var(--cor-marrom-claro);
    padding: 1rem;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    width: 90%;
}

.sobre__botao:hover{
    transition: 0.1s;
    background: var(--cor-marrom);
    height: 60px;
    font-size: 18px;
}

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}

.projetos h2 {
    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background: var(--cor-bege2);
    border-radius: 20px;
    margin: 1rem 2rem;
    padding: 1rem;
   
}

.card img { 
    width: 180px;
    height: 180px;
}

.card p {
    padding: 1rem;
}


.card button{
    color: var(--cor-bege);
    background: var(--cor-marrom-claro);
    height: 50px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.card button:hover{
    transition: 0.1s;
    background: var(--cor-marrom);
    height: 60px;
    font-size: 18px;
}


.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.contatos__titulo {
    padding: 2rem;
}

.contatos img {
    width: 40px;
}

.contatos__card {
    display: flex;
}

.contatos-listados {
    display: flex;
    justify-content: center;
    padding: 0.4rem;
    align-items: center;
    background-color: var(--cor-bege);
    margin: 0.2rem;
    border-radius: 10px;
}

.contatos-listados:hover{
    transition: 0.5s;
    width: 90px;
}

.contatos-listados button {
    all: unset;
    cursor: pointer;
    color: #57271b;
}

/*tablet e PC*/
@media screen and (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        border: none;
        padding: 2rem;
        background-color: var(--cor-bege3);
    }

    .cabecalho__navegacao {
        text-align: right;
    }

    .conteudo {
        background-image: linear-gradient(to top, #b85322, #efe4e1);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem;
    }

    .sobre {
        background-color: var(--cor-ceramica400);
        display: flex;
        flex-direction: row;
        padding: 2rem;
    }

    .sobre h2 {
        color: var(--cor-bege2);
    }

    .sobre__imagem {
        width: 100%;
        border-radius: 20px;
    }

    .sobre__texto {
        padding-left: 2rem;
    }

    .sobre__texto p {
        color: var(--cor-bege3);
    }

    .sobre__botao {
        background-color: var(--cor-bege2);
        color: #57271b;
    }

    .sobre__botao:hover {
        background-color: var(--cor-ceramica200);
    }

    .projetos {
        background-image: linear-gradient( #b85322, #efe4e1);
        margin: 0;
    }

    .projetos h2 {
        color: var(--cor-bege2);
    }

    .projetos__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card:hover {
        width: 40%;
        height: 500px;
    }

    .contatos {
        background-image: linear-gradient(to top, #b85322, #efe4e1);
    }

    .contatos h2 {
        color: var(--cor-marrom);
    }
    
    .contatos-listados {
        background-color: var(--cor-bege2);
    }
}