:root {

    --cor-bege: #ffe5d2;
    --cor-bege2: #f6be99;
    --cor-bege3: #efe4e1;
    --cor-marrom-claro: #814831;
    --cor-marrom: #57271b;
    --cor-ceramica400: #b85322;
    --cor-ceramica200: #cf967e;
}

* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
}


body {
    background-color: var(--cor-bege);
}

h1 {
    color: var(--cor-marrom);
    font-size: 3rem;
    font-weight: bold;
}

ul {
    color: var(--cor-ceramica400);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0%;
    margin: 0;
}

a {
    color: var(--cor-beige);
}

h2 {
    color: var(--cor-marrom-claro);
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
    color: var(--cor-marrom-claro);
    font-weight: bold;
}

p {
    color: var(--cor-marrom);
    
}

footer {
background-color: var(--cor-bege2);
}

@media screen and (min-width: 1024px) {
    * {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

    body {
        background-color: var(--cor-bege3);
    }
}


